.person-center {
  padding-top: 0.2rem;
}
.person-center .header {
  width: 100%;
  height: 1.76rem;
  background: #fff;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  position: relative;
}
.person-center .header .header-logo {
  line-height: 1.76rem;
  float: left;
}
.person-center .header .header-logo img {
  width: 1.28rem;
  height: 1.28rem;
  vertical-align: middle;
  border-radius: 4px;
}
.person-center .header .user-info {
  padding-top: 0.38rem;
  margin-left: 1.44rem;
  overflow: hidden;
}
.person-center .header .user-info .username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.36rem;
  color: #000;
}
.person-center .header .user-info .intro {
  font-size: 0.26rem;
  color: #9b9b9b;
  margin-top: 0.14rem;
  letter-spacing: 1px;
}
.person-center .header .arrow {
  float: right;
  line-height: 1.76rem;
  position: absolute;
  top: 0;
  right: 0.3rem;
}
.person-center .header .arrow img {
  width: 0.16rem;
  height: 0.26rem;
  vertical-align: middle;
}

.person-center .order-count {
  background: #fff;
  padding-left: 0.3rem;
  margin-top: 0.4rem;
}
.person-center .row {
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  clear: left;
  background: #fff;
  padding-right: 0.3rem;
  position: relative;
}
.person-center .row .right-value {
  position: absolute;
  right: 0.3rem;
  top: 0;
}
.person-center .row .icon {
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.14rem;
}
.person-center .row .my-order-icon {
  width: 0.28rem;
  height: 0.32rem;
}
.person-center .row .clock {
  width: 0.32rem;
  height: 0.32rem;
}
.person-center .row .arrow {
  width: 0.16rem;
  height: 0.26rem;
  vertical-align: middle;
  margin-left: 0.2rem;
}
.person-center .row .star {
  width: 0.34rem;
  height: 0.32rem;
}
.person-center .row * {
  vertical-align: middle;
  display: inline-block;
}
.person-center .my-file {
  background: #fff;
  padding-left: 0.3rem;
  margin-top: 0.2rem;
}
.person-center .text {
  font-size: 0.24rem;
  color: #9b9b9b;
  position: fixed;
  bottom: 0.5rem;
  padding: 0 0.2rem;
  left: 0;
  right: 0;
  text-align: center;
}
