.my-order {
  padding-top: .2rem;
}
.my-order .item {
  background: #fff;
  padding-left: .3rem;
  margin-bottom: .2rem;
}
.my-order .item .store {
  padding: .32rem;
  padding-left: 0;
  overflow: hidden;
}
.my-order .item .store .store-name {
  float: left;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: .32rem;
}
.my-order .item .store .order-status {
  float: right;
  font-size: .28rem;
}
.my-order .item .detail {
  padding: 7px 0;
  position: relative;
}
.my-order .item .detail p {
  padding-right: .3rem;
  font-size: .28rem;
  color: #999;
  margin-bottom: .2rem;
}
.my-order .item .detail p .pull-right {
  color: #F1503F;
  font-weight: bold;
}
.my-order .item .detail p .val {
  padding-left: .2rem;
  color: #666;
}
.my-order .no-record {
  width: 150px;
  height: 90px;
  margin: auto;
  padding-top: 5rem;
  text-align: center;
  font-size: 14px;
  color: #888;
}
.my-order .no-record img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.my-order .doneTip {
  font-size: 14px;
  color: #666;
  text-align: center;
  padding-bottom: 10px;
}
