<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common/reset.css">
  <link rel="stylesheet" href="./css/common/common.css">
  <link rel="stylesheet" href="./css/common/index.css">
  <link rel="stylesheet" href="./css/menu/menu_header.css">
  <link rel="stylesheet" href="./css/menu/food_attribute.css">
  <link rel="stylesheet" href="./css/menu/layout.css">
  <link rel="stylesheet" href="./css/menu/item_dish.css">
  <link rel="stylesheet" href="./css/menu/cart.css">
</head>

<body>
  <div class="menus">
    <div ref='headerBox'>
      <!-- menuHeader -->
      <div class="menuHeader" @click='enterStoreDetail'>
        <div>
          <div class="shopbox">
            <div class="shopImg">
              <!-- <img v-if="shopInfo.fsLogo" :src="shopInfo.fsLogo"> -->
              <img v-else src="./assets/store-logo.png">
            </div>
            <div class='shopInfo'>
              <p class="store-name">
                <span>门店名称</span>
                <img src='./assets/shopArrow.png'></img>
              </p>
              <div class="type">
                <span v-if="shopInfo.orderType==2"><img src="./assets/shopTrue.png" alt="">提前点餐</span>
                <span><img src="./assets/shopTrue.png" alt="">打包</span>
              </div>
            </div>
          </div>
          <div class='personCenter' @click.stop.prevent="enterPersonCenter()">
            <img class='person' src="./assets/centerIcon.png" alt="">
            <span>个人中心</span>
          </div>
        </div>
        <span class="notice" v-if='shopInfo.fsPublicMsg'>
          <img src="./assets/headInformation.png" alt="">
          <span>{{shopInfo.fsPublicMsg}}</span>
        </span>
        <i class="line" v-if='shopInfo.shopActivityOutVoList && shopInfo.shopActivityOutVoList.length > 0'></i>
        <!-- menuActivity -->
        <div style="display: none" class="marquee">
          <marquee>
            <marquee-item v-for="(item,index) in shopActivityOutVoList" :key="index">
              <img :src="imgFilter(item.logoNameCode)" alt="" class='tipimg'>
              <span>活动名称</span>
            </marquee-item>
          </marquee>
          <div class="marquee-tip flexbox_center">
            <span>1个活动</span>
            <img src="./assets/activityArrow.png" alt="">
          </div>
        </div>
        <!-- menuActivity end -->
      </div>
      <!-- menuHeader end -->
    </div>
    <!-- food-attribute -->
    <div style="display: none;" class="attr-out-box" v-show='IS_SHOW_FA'>
      <div class="food-attribute">
        <div class="food-title">
          <span class="close">
            <span class="icon-error" @click.stop='closeFoodAttribute'></span>
          </span>{{FOOD_ATTR.fsitemname}}</div>
        <div class="food-content">
          <div class="rule-item" v-if="FOOD_ATTR.menuItemUnitList">
            <p>选择规格</p>
            <span v-for='(item,index) in FOOD_ATTR.menuItemUnitList' :key='index' @click.stop='changeUnit(index,item)'
              class="attr-span">
              <span class='guige' :class='{active:index==isActive(defaultIndex),choose:item.fistatusUnit!=1}'>{{item.fsorderunitname}}</span>
              <!--<span class="sell-out" v-if="item.fistatusUnit!=1">售罄</span>-->
            </span>
            <p class="tipText">{{tipText}}</p>
          </div>
          <div class="rule-item">
            <div v-for='(item,outIndex) in FOOD_ATTR.menuItemAskGroupOutVoList' :key='outIndex'>
              <p>{{item.fsAskGpName}}</p>
              <span v-for='(item2,innerIndex) in item.menuItemAskOutVoList' :key='innerIndex' @click.stop.prevent="changemenuItemAskOutVoList(outIndex,innerIndex)">
                <span class='guige' :class='{active:item2.fidefault == 1}'>{{item2.fsaskname}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="food-footer clearfix">
          <button class="btn-confirm" @click='confirm' :class="{gray:fistatusUnit}">添加</button>
          <div class="btn-box">
            <span>￥{{firstPrice}}</span>
            <span style='padding-left:3px;text-decoration: line-through;font-size:12px;color:#ccc;' v-show='flag'>￥{{secondPrice}}</span>
          </div>
        </div>
      </div>
      <!-- <div class="backdrop" v-show="IS_SHOW_FA" @click.stop='closeFoodAttribute'></div> -->
    </div>
    <!-- food-attribute end -->
    <!-- <food-attribute></food-attribute> -->
    <!-- lrLayout -->
    <div class="small-menus" :class="{'small-menus':true,'hide-title':isHide}">
      <span class="search-box" v-if="MENUS_LIST.length>0" @click='enterSearchDishes'>
        <span class="icon-search"></span>搜索
      </span>
      <div class="menu-sidebar" ref="menuWrapper">
        <ul>
          <li v-for="(menu,index) in MENUS_LIST" @click="selectMenu(index)" class="menu-list-hook" :class="{'current':currentIndex==index,'menu-list-hook':true}"
            :key='index'>
            <img v-if="menu.fsmenuclsname =='热销'||menu.fsmenuclsname =='热卖'" src="./assets/hot.png" alt="">
            {{menu.fsmenuclsname}}
            <span class="num" v-show="count(index)>0">{{count(index)}}</span>
          </li>
        </ul>
      </div>
      <div class="menu-lists" ref="foodsWrapper" @touchstart="replaceCuIndex=false" @click='showFoodAttribute'>
        <ul class="content">
          <li v-for="(menu,menuIndex) in MENUS_LIST" class="menu-list-hook" :key='menuIndex'>
            <div v-else>
              <h2>{{menu.fsmenuclsname}}({{menu.menuItemList.length}})</h2>
              <ul class="list-item">
                <li v-for="(itemDish,itemIndex) in menu.menuItemList" :key='itemIndex'>
                  <!-- itemDish -->
                  <div>
                    <div class="item-dish flexbox_two_start">
                      <!--:style="{backgroundImage:'url('+cutImg(itemDish.fsimageurl,134,134)+')'}"-->
                      <div class="img-box" @click='enterDishDetail'>
                        <div class="layout" v-if="itemDish.fiiscout == 1"></div>
                        <img v-if="!itemDish.fsimageurl" src="./assets/nodish-small.png">
                        <img v-else v-lazy="cutImg(itemDish.fsimageurl,134,134)" alt="">
                        <!-- <img v-else :src="cutImg(itemDish.fsimageurl,134,134)" alt=""> -->
                        <span class='fiiscout' v-if='itemDish.fiiscout == 1'>已售罄</span>
                        <div class='tipImg'>
                          <img v-if='fiisnew' src="./assets/Sxinping.png" alt="">
                          <img v-if='fiisspecialty' src="./assets/Szhaopai.png" alt="">
                        </div>
                      </div>
                      <div class="food-info">
                        <p class="foodName overflow">name</p>
                        <p class="saled">已售3</p>
                        <div v-if='bargainNameFlag' class="activity flexbox_start"><img src='./assets/BZeng.png'><span>买一赠一</span></div>
                        <p class="price">
                          <span>¥2</span>
                          <span class="start-money" v-if='startMoney'>起</span>
                          <span class="now-price" v-if='secondPriceFlag'>¥1</span>
                        </p>
                      </div>
                      <div class="btn-box" v-if='itemDish.fiiscout != 1'>
                        <div class="single-style-btn">
                          <span class="add-btn" :class='{"gray":isFiiscout || NO_OPEN}' data-flag='singleBtn'
                            :data-menuIndexList='menuIndexList' v-show='count == 0'>添加</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- itemDish end -->
                </li>
              </ul>
            </div>
          </li>
          <li class="menu-list-hook" v-show="MENUS_LIST.length>0">
            <h2>图片仅供参考 菜品请以实物为准</h2>
          </li>
        </ul>
      </div>
    </div>
    <!-- lrLayout end -->
    <!-- cart -->
    <div class="cart-box">
      <div class="cart flexbox_center">
        <div class="cart-num-box flexbox_center" @click="isShowlist">
          <span class='img-box'>
            <img src='./assets/cart.png'>
            <span class="num" v-if="totalCount>0">2</span>
          </span>
          <span class='box-price'>
            <!-- <p v-show="totalCount<=0" class="no-dishes">还没添加菜品</p> -->
            <p class="price" v-show="totalCount>0">
              ￥22
              <span class="favorable-price" v-show='priceFlag'>￥66</span>
            </p>
          </span>
        </div>
        <button type="button" class="confirmButton" :class="{'btn-primary':true,'btn-grey':totalCount<=0 || !CART_BTN_COLOR || isRest != 1}"
          @click='confirm'>
          <spinner v-show='spinnerFlag' class="spinner"></spinner>
          <span>选好了</span>
        </button>
      </div>
      <div class="cart-list">
        <activity-tip></activity-tip>
        <list-show :totalCount='totalCount' :showList='showList' :tableName="tableName" :isRest='isRest'></list-show>
      </div>
      <!-- <div class="backdrop" v-show="showList" @click="isShowlist"></div> -->
    </div>
  </div>
</body>
<script src="./js/common/ydui.js"></script>
<script src="./js/index.js"></script>
<script>
  var personCenter = document.getElementsByClassName('personCenter')[0];
  personCenter.addEventListener('click', function(){
    window.location.href = './person_center.html';
  })
</script>

</html>