<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common/reset.css">
  <link rel="stylesheet" href="./css/common/common.css">
  <link rel="stylesheet" href="./css/common/index.css">
  <link rel="stylesheet" href="./css/myorder/index.css">
</head>

<body>
    <div class="my-order">
        <infinite-scroll :on-infinite='loadData' ref='infinite'>
          <div slot='list' ref='list' class="item" v-for="(item,index) in orderList" :key="index" v-if='orderList.length > 0'>
            <div class="store bottom-line" @click="goShopMenu(item.shopId)">
              <p class="store-name">{{item.fsshopname}}</p>
              <p class="order-status">已支付</p>
            </div>
            <div class="detail" @click="goDetail(item.orderId)">
              <p class="clearfix">
                <span class="pull-right">S001</span>
                <span class="text">下单时间</span>
                <span class="val">{{item.createTimeStr}}</span>
              </p>
              <p v-if="item.eatStyle == 3 || item.eatStyle == 4">
                <span class="text">到店时间</span>
                <span class="val">{{item.eatTimeStr}}</span>
              </p>
              <p v-if="item.eatStyle == 3 || item.eatStyle == 4">
                <span class="text">点餐方式</span>
                <span class="val">提前点餐</span>
              </p>
              <p>
                <span class="text">消费金额</span>
                <span class="val">¥{{item.paidMoney}}</span>
              </p>
            </div>
          </div>
          <!-- 提示没有更多了 -->
          <div slot='loadingTip' class='loadingTip'>
            <load-more type='flower'></load-more>
          </div>
          <div slot='doneTip' class='doneTip'>没有更多记录了 ~</div>
          <div class="no-record" v-if="orderList.length == 0">
            <img src="./assets/no_order.png">
            <p>您还没有订单记录</p>
          </div>
        </infinite-scroll>
      </div>
</body>

<script src="./js/index.js"></script>
<script>
  /**
  * YDUI 可伸缩布局方案
  * rem计算方式：设计图尺寸px / 100 = 实际rem 【例: 100px = 1rem，32px = .32rem】
  */
  !function (window) {
    /* 设计图文档宽度 */
    var docWidth = 750;

    var doc = window.document,
      docEl = doc.documentElement,
      resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';

    var recalc = (function refreshRem() {
      var clientWidth = docEl.getBoundingClientRect().width;

      /* 8.55：小于320px不再缩小，11.2：大于420px不再放大 */
      docEl.style.fontSize = Math.max(Math.min(20 * (clientWidth / docWidth), 11.2), 8.55) * 5 + 'px';

      return refreshRem;
    })();

    /* 添加倍屏标识，安卓为1 */
    docEl.setAttribute('data-dpr', window.navigator.appVersion.match(/iphone/gi) ? window.devicePixelRatio : 1);

    if (/iP(hone|od|ad)/.test(window.navigator.userAgent)) {
      /* 添加IOS标识 */
      doc.documentElement.classList.add('ios');
      /* IOS8以上给html添加hairline样式，以便特殊处理 */
      if (parseInt(window.navigator.appVersion.match(/OS (\d+)_(\d+)_?(\d+)?/)[1], 10) >= 8)
        doc.documentElement.classList.add('hairline');
    }

    if (!doc.addEventListener) return;
    window.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
  }(window);
</script>

</html>