<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common/reset.css">
  <link rel="stylesheet" href="./css/common/common.css">
  <link rel="stylesheet" href="./css/common/index.css">
  <link rel="stylesheet" href="./css/order_detail/order_detail.css">
</head>

<body>
  <div class="order-detail" v-if="pageShow">
    <!-- <orderDetailTop :list='list' :shopInfo='shopInfo' :orderTableOutVo="orderTableOutVo" :userId='userId' :type='type'
      :from="from"></orderDetailTop> -->
    <div class="retreat-msg" v-if="list.status==5||list.status==6||list.status==7">•&nbsp;&nbsp;您的退款将从即日起<span>3-7个工作日</span>内返回至您的付款账号。</div>
    <!-- <img v-if="showTwoCode&&$sign=='wx'" src="./assets/banner.png" alt="微信公众号"> -->
    <img v-if="showTwoCode&&($sign=='ap'||$sign=='pay')" src="./assets/banner-ap.png" alt="支付宝生活号">
    <!-- <section class="store-name title-box clearfix" @click="enterStore">
            <div class="store-img" :style="storeLogo">
                <img ref="logoImg" v-if="!shopInfo.fsLogo" src="./assets/store-small-logo.png">
            </div>
            {{orderShopOutVo.fsshopname}}
            <span class="right-icon no-rotate"><img src="./assets/arrow.png"></span>
        </section> -->
    <div class="title-box" @click="showDishItem=!showDishItem">
      <span class="pull-right col999">{{list.total}}份</span>
      已点菜单
      <span class="right-icon" :class="{'rotate':showDishItem}"><img src="./assets/arrow.png"></span>
    </div>
    <section class="order-list" v-show="showDishItem">
      <!-- <alreadyDishItem :orderMenuitemOutVoList='orderMenuitemOutVoList'></alreadyDishItem> -->
      <div class="plr">
        <!-- <alreadyDishActivity v-if="orderActivityOutVoList" :orderActivityOutVoList="orderActivityOutVoList"></alreadyDishActivity> -->
        <!-- <div class="unpack" v-if="orderServiceFeeOutVoList">
          <span class="pull-right">¥22</span>
          test
        </div> -->
      </div>
      <!-- <alreadyDishPrice :list="list"></alreadyDishPrice> -->
    </section>
    <!-- <orderContent :orderTicketOutVo="orderTicketOutVo" :list="list"></orderContent> -->
    <!-- <a class="adver" :href="advertisementUrl" v-if="advertisementUrl"><img :src="advertisementImg" alt="微信公众号"></a> -->
    <!-- <attention :list='list' v-show="dialogShow"></attention> -->
  </div>
</body>
<script src="./js/common/ydui.js"></script>
<script src="./js/index.js"></script>

</html>