<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common/reset.css">
  <link rel="stylesheet" href="./css/common/common.css">
  <link rel="stylesheet" href="./css/common/index.css">
  <link rel="stylesheet" href="./css/store_detail/index.css">
</head>

<body>
    <div class="store-detail anotherpage">
        <div class="store-banner" :style="[styleObj]">
          <!-- <img src="./assets/store_detail/default_store_banner.png" class="store-banner-img" v-if="!store.fsPromote"> -->
          <!-- <img :src="store.fsPromote" class="store-banner-img" v-if="store.fsPromote"> -->
          <div class="mask"></div>
          <img src="./assets/store_detail/return_back.png" class="returnback favor" @click="returnBack()">
          <img src="./assets/store_detail/share.png" class="share favor" @click="share()">
          <img src="./assets/store_detail/collect.png" class="collect favor" v-show="isCollected == false" @click="collect()">
          <img src="./assets/store_detail/collected.png" class="collect favor" v-show="isCollected == true" @click="cancelCollect()">
        </div>
        <div class="store-ban">
          <div class="store-logo">
            <!-- <img :src="store.fsLogo" v-if="store.fsLogo"> -->
            <img src="./assets/store_detail/store-logo.png" v-if="!store.fsLogo">
          </div>
      
          <div class="name-service">
            <p class="store-name overflow">{{store.fsShopName}}</p>
            <ul class="clearfix">
              <li v-if="store.orderType==2">
                <i></i>
                <span>提前点餐</span>
              </li>
              <li>
                <i></i>
                <span>打包</span>
              </li>
            </ul>
          </div>
        </div>
    
        <!-- 店铺公告 -->
        <div class="info" v-if="store.fsPublicMsg">
          <div class="title bottom-line">店铺公告</div>
          <div class="intro">
            <p>{{store.fsPublicMsg}}</p>
          </div>
        </div>
      
        <!-- 地址,电话,营业时间 -->
        <div class="info-item">
          <div class="row bottom-line" @click="callPhone" v-if="store.fscellphonect">
            <div class="info-icon">
              <img src="./assets/store_detail/store_phone.png" class="phone">
            </div>
            <p>{{store.fscellphonect}}</p>
            <div class="float-right">
              <img src="./assets/store_detail/arrow.png" class="arrow" >
            </div>
          </div>
      
          <div class="big-row bottom-line" @click="searchLocation" v-if="store.fsAddr">
            <table>
              <tr>
                <td style="width:.4rem">
                  <img src="./assets/store_detail/address.png" class="location">
                </td>
      
                <td style="width:90%;">{{store.fsAddr}}</td>
                <td style="text-align:right" ><img src="./assets/store_detail/arrow.png" class="arrow" v-if="this.store.fsLng && this.store.fsLat"></td>
              </tr>
            </table>
          </div>
      
          <!-- <div class="row">
                <div class="info-icon">
                  <img src="./assets/store_detail/clock.png" class="clock">
                </div>
                <p>营业时间: <span>{{businessHourStr}}</span></p>
              </div> -->
      
          <div class="big-row">
            <table>
              <tr>
                <td style="width:.4rem">
                  <img src="./assets/store_detail/clock.png" class="clock">
                </td>
                <td style="width:90%;word-break:break-all">{{businessHourStr}}</td>
                <td style="text-align:right;opacity:0">
                  <img src="./assets/store_detail/arrow.png" class="arrow">
                </td>
              </tr>
            </table>
          </div>
      
        </div>
      
        <!-- 优惠信息 -->
        <div class="info" v-if="showAct">
          <div class="title bottom-line">优惠信息</div>
          <div class="item">
            <activity :orderActivityOutVoList="shopActivityOutVoList"></activity>
          </div>
        </div>
      
        <!-- 商户信息 -->
        <div class="info" v-if="store.fsShopDesc">
          <div class="title bottom-line">商户信息</div>
          <div class="intro">
            <p>{{store.fsShopDesc}}</p>
          </div>
        </div>
      
        <!-- 拨打电话弹出层 -->
        <mt-actionsheet :actions="actions" v-model="sheetVisible"></mt-actionsheet>
    
        <!-- 分享弹出框(调用分享组件)-->
        <shareModal :showShare.sync="showShare" :store="store"></shareModal>
        <transition name="router-slid" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
</body>

<script src="./js/common/ydui.js"></script>
<script src="./js/index.js"></script>

</html>