<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common/reset.css">
  <link rel="stylesheet" href="./css/common/common.css">
  <link rel="stylesheet" href="./css/common/index.css">
  <link rel="stylesheet" href="./css/store_detail/index.css">
</head>

<body>
  <div class="store-detail anotherpage">
    <div class="store-banner">
      <!-- <img src="./assets/store_detail/default_store_banner.png" class="store-banner-img" v-if="!store.fsPromote"> -->
      <!-- <img :src="store.fsPromote" class="store-banner-img" v-if="store.fsPromote"> -->
      <div class="mask"></div>
      <img onclick="goPersonCenter()" src="./assets/store_detail/return_back.png" class="returnback favor">
      <img src="./assets/store_detail/share.png" class="share favor">
      <img onclick="isShowCollect(0)" src="./assets/store_detail/collect.png" class="collect favor">
      <img style="visibility: hidden;" onclick="isShowCollect(1)" src="./assets/store_detail/collected.png" class="collect favor">
    </div>
    <div class="store-ban">
      <div class="store-logo">
        <!-- <img :src="store.fsLogo" v-if="store.fsLogo"> -->
        <img src="./assets/store_detail/store-logo.png">
      </div>

      <div class="name-service">
        <p class="store-name overflow">门店名称test</p>
        <ul class="clearfix">
          <li>
            <i></i>
            <span>提前点餐</span>
          </li>
          <li>
            <i></i>
            <span>打包</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- 店铺公告 -->
    <div class="info">
      <div class="title bottom-line">店铺公告</div>
      <div class="intro">
        <p>店铺公告msg msg</p>
      </div>
    </div>

    <!-- 地址,电话,营业时间 -->
    <div class="info-item">
      <div class="row bottom-line">
        <div class="info-icon">
          <img src="./assets/store_detail/store_phone.png" class="phone">
        </div>
        <p>18312341234</p>
        <div class="float-right">
          <img src="./assets/store_detail/arrow.png" class="arrow">
        </div>
      </div>

      <div class="big-row bottom-line">
        <table>
          <tr>
            <td style="width:.4rem">
              <img src="./assets/store_detail/address.png" class="location">
            </td>

            <td style="width:90%;">上海市</td>
            <td style="text-align:right"><img src="./assets/store_detail/arrow.png" class="arrow"></td>
          </tr>
        </table>
      </div>

      <div class="row">
        <div class="info-icon">
          <img src="./assets/store_detail/clock.png" class="clock">
        </div>
        <p>营业时间: <span>18:00 - 19:00</span></p>
      </div>

    </div>

    <!-- 商户信息 -->
    <div class="info">
      <div class="title bottom-line">商户信息</div>
      <div class="intro">
        <p>商户信息tes tetst</p>
      </div>
    </div>
  </div>
</body>
<script src="./js/common/ydui.js"></script>
<script src="./js/store_detail.js"></script>

</html>