.store-detail {
  overflow: auto;
  padding-bottom: .3rem;
  z-index: 300;
}
.store-detail .store-banner {
  width: 100%;
  height: 2.9rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.store-detail .store-banner .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.store-detail .store-banner-img {
  width: 100%;
  height: 100%;
}
.store-detail .favor {
  position: absolute;
  z-index: 10;
}
.store-detail .share {
  width: .36rem;
  height: .3rem;
  top: .24rem;
  right: 1rem;
}
.store-detail .collect {
  width: .38rem;
  height: .36rem;
  top: .18rem;
  right: .2rem;
}
.store-detail .returnback {
  width: .56rem;
  height: .56rem;
  left: .2rem;
  top: .1rem;
}
.store-detail .store-ban {
  width: 100%;
  height: 1.62rem;
  background: #fff;
  padding: 0 .3rem;
}
.store-detail .store-ban .store-logo {
  width: 25%;
  line-height: 1.62rem;
  float: left;
  border-radius: 4px;
  background: #fff;
}
.store-detail .store-ban .store-logo img {
  width: 100%;
  width: 1.58rem;
  height: 1.14rem;
  border-radius: 4px;
  vertical-align: middle;
}
.store-detail .store-ban .name-service {
  float: left;
  padding-left: .2rem;
  padding-top: .28rem;
  width: 75%;
}
.store-detail .store-ban .name-service .store-name {
  font-size: .36rem;
  color: #333;
  line-height: .44rem;
  margin-bottom: .2rem;
}
.store-detail .store-ban .name-service ul li {
  float: left;
  font-size: .26rem;
  color: #666;
  margin-right: .3rem;
  line-height: .3rem;
}
.store-detail .store-ban .name-service ul li i {
  width: .3rem;
  height: .3rem;
  display: inline-block;
  background: url('../../assets/service_tick.png') no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
.store-detail .info-item {
  background: #fff;
  margin-top: .2rem;
  clear: both;
}
.store-detail .info-item .row {
  width: 100%;
  height: .9rem;
  line-height: .9rem;
  font-size: .28rem;
  color: #666;
  padding: 0 .3rem;
}
.store-detail .info-item .row * {
  display: inline-block;
}
.store-detail .info-item .row .info-icon {
  width: .4rem;
  height: 100%;
  vertical-align: middle;
}
.store-detail .info-item .row .info-icon .phone {
  width: .26rem;
  height: .26rem;
  vertical-align: text-top;
}
.store-detail .info-item .row .info-icon .clock {
  width: .28rem;
  height: .28rem;
  vertical-align: text-top;
}
.store-detail .info-item .row .arrow {
  width: .16rem;
  height: .26rem;
  vertical-align: middle;
}
.store-detail .info-item .big-row {
  font-size: .28rem;
  color: #666;
  padding: .2rem .3rem;
}
.store-detail .info-item .big-row table {
  width: 100%;
}
.store-detail .info-item .big-row .location {
  width: .26rem;
  height: .32rem;
}
.store-detail .info-item .big-row .arrow {
  width: .16rem;
  height: .26rem;
}
.store-detail .info-item .big-row .clock {
  width: .28rem;
  height: .28rem;
  vertical-align: text-top;
}
.store-detail .info {
  background: #fff;
  margin-top: .2rem;
}
.store-detail .info .title {
  height: 1rem;
  line-height: 1rem;
  font-size: .32rem;
  color: #333;
  padding-left: .2rem;
}
.store-detail .info .item {
  padding: 0 .2rem .22rem;
  font-size: .28rem;
  color: #666;
}
.store-detail .info .intro {
  padding: .2rem;
}
.store-detail .info .intro p {
  font-size: .28rem;
  color: #666;
  line-height: .44rem;
}
