.overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flexbox_center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flexbox_two_start{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items:  flex-start;
  align-items:  flex-start;
}
.flexbox_start{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.anotherpage{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
}

/* common */
body{
  color:#333;
}
#app{
  width:100%;
  height:100%;
}
/* 同级路由动化渐变 */
.router-fade-enter-active, .router-fade-leave-active {
  transition: opacity .3s;
}
.router-fade-enter, .router-fade-leave-active {
  opacity: 0;
}
/* 子级路由线换动画 */
.router-slid-enter-active,
.router-slid-leave-active {
  transition: all .4s;
}

.router-slid-enter,
.router-slid-leave-active {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.pull-left {
  float:left;
}
.pull-right {
  float:right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center{
  text-align: center;
}

.text-right {
  text-align: right;
}

.col333 {
  color: #333;
}

.col666{
  color: #666;
}
.col999 {
  color: #999;
}
.bottom-line {
  height: 100%;
  position: relative;
}
.bottom-line:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  color: #E5E5E5;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.top-line {
  height: 100%;
  position: relative;
}
.top-line:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  color: #E5E5E5;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.right-line {
  position: relative;
  height: 100%;
}
.right-line:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin:100% 0;
  transform-origin:100%  0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 10;
}
.now-price{
    color:#dbdbdb;
    font-size: 12px;
    padding-left:5px;
    text-decoration: line-through; 
}

.mint-indicator-mask{
  z-index: 1000
}

.crib-indexlist-nav{
  background: transparent !important;
}

.crib-indexlist-content{
  padding-bottom:2.1rem !important;
}


.mint-indicator-wrapper{
  z-index: 1000
}


.mint-swipe-indicator.is-active{
  background: rgba(0,0,0,0.3)!important
}
.mint-swipe-indicator{
  opacity: 1;
  background:#dcdcdc;
}
