.guige {
  display: inline-block;
  font-size: 13px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 15px;
  border: 1px solid #efefef;
  background-color: #efefef;
  border-radius: 4px;
}

.active {
  color: #f1503f;
  border: 1px solid #f1503f;
  background: rgba(241, 80, 63, 0.1);
}

.choose {
  color: #ccc;
  border: 1px solid #ccc;
}

.gray {
  color: #ccc !important;
  border: 1px solid #ccc !important;
  background: #fff !important;
}
/* .pos(@pos:absolute,@top:inherit,@right:inherit,@bottom:inherit,@left:inherit) {
  position: @pos;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
} */
.food-attribute + .backdrop {
  z-index: 31;
}
.food-attribute {
  position: fixed;
  top: 15%;
  right: 0;
  bottom: inherit;
  left: 50%;
  /* .pos(@pos:fixed, @top:15%, @right:0, @left:50%); */
  width: 90%;
  margin-left: -45%;
  z-index: 300;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
}
.food-attribute .food-title {
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  font-size: 0.32rem;
  color: #666666;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 40px;
  overflow: hidden;
  background: #efefef;
}
.food-attribute .food-title .close {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 50px;
}
.food-attribute .food-title .icon-error {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../assets/error2.png) no-repeat center;
  background-size: 100%;
}
.food-attribute .food-content {
  max-height: 5.86rem;
  overflow-y: scroll;
  padding: 0.34rem 0.23rem 0.425rem;
  border-bottom: 1px solid #e6e6e6;
}
.food-attribute .food-content .item {
  display: inline-block;
  font-size: 13px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 15px;
  border: 1px solid #efefef;
  background-color: #efefef;
  border-radius: 4px;
}
.food-attribute .food-content .item.checked {
  color: #06c1ae;
  border: 1px solid #06c1ae;
  background: rgba(6, 193, 174, 0.1);
}
.food-attribute .food-content .label-box label {
  position: relative;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.food-attribute .food-content .label-box label span {
  display: inline-block;
  font-size: 13px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 15px;
  border: 1px solid #efefef;
  background-color: #efefef;
  border-radius: 4px;
  pointer-events: none;
}
.food-attribute .food-content .label-box label input {
  display: none;
}
.food-attribute .food-content .label-box label input:checked + span {
  color: #06c1ae;
  border: 1px solid #06c1ae;
  background: rgba(6, 193, 174, 0.1);
}
.food-attribute .food-content .rule-item .tipText {
  font-size: 0.24rem;
  color: #f1503f;
}
.food-attribute .food-content .rule-item p {
  font-size: 0.3rem;
  color: #666;
  margin-bottom: 0.36rem;
}
.food-attribute .food-content .rule-item .attr-span {
  position: relative;
}
.food-attribute .food-content .rule-item .attr-span .sell-out {
  position: absolute;
  top: -15px;
  right: 0;
  /* .pos(@top:-15px, @right:0); */
  background-color: #ccc;
  color: #fff;
  font-size: 12px;
  padding: 0 4px;
  border-radius: 5px;
  transform: scale(0.9);
  line-height: 16px;
}
/* food-footer */
.food-attribute .food-footer {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.btn-confirm {
  float: right;
  width: 2.4rem;
  height: 0.7rem;
  line-height: 35px;
  margin-top: 8px;
  border-radius: 4px;
  background: #f1503f;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.now-price {
  color: #999;
  text-decoration: line-through;
  font-size: 12px;
  padding-left: 5px;
}
