/* .pos(@pos:absolute,@top:inherit,@right:inherit,@bottom:inherit,@left:inherit) {
  position: @pos;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
} */
.small-menus {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.small-menus.hide-title {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.small-menus .loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* .pos(@top:0, @right:0, @bottom:0, @left:0); */
  z-index: 10000;
  text-align: center;
  background-color: #fff;
}
.small-menus .loading .loading-box {
  position: absolute;
  top: -10%;
  right: 0;
  bottom: 0;
  left: 0;
  /* .pos(@top:-10%, @right:0, @bottom:0, @left:0); */
  margin: auto;
  height: 75px;
  width: 75px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  position: absolute;
}
.small-menus .loading img {
  width: 30px;
  margin-top: 12px;
}
.small-menus .loading p {
  padding-top: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
/* search-box */
.small-menus .search-box {
  width: 21.5%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  height: 51px;
  line-height: 51px;
  font-size: 14px;
  padding-left: 10px;
  background-color: #fafafa;
  box-shadow: inset -1px -1px 0 0 #e8e8e8;
}
.small-menus .search-box .icon-search {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url("../assets/small-search.png") no-repeat center;
  background-size: cover;
  margin-right: 5px;
  top: 1px;
}
/* menu-sidebar */
.small-menus .menu-sidebar {
  width: 21.5%;
  position: absolute;
  top: 51px;
  bottom: 56px;
  left: 0;
  background-color: #ebecf1;
}
.small-menus .menu-sidebar ul {
  padding-bottom: 260px;
}
.small-menus .menu-sidebar ul li {
  position: relative;
  padding: 0.337rem 0.24rem 0.347rem 0.2rem;
  font-size: 0.28rem;
  color: #333333;
  background-color: #fafafa;
  box-shadow: inset -1px -1px 0 0 #e8e8e8;
  
}
.small-menus .menu-sidebar ul li > img {
  width: 0.3rem;
  vertical-align: sub;
}
.small-menus .menu-sidebar ul li.current {
  position: relative;
  box-shadow: inset 0 -1px 0 0 #e8e8e8;
  background-color: #fff;
}
.small-menus .menu-sidebar ul li.current:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 3px solid #f03c3c;
}
.small-menus .menu-sidebar ul li .num {
  position: absolute;
  top: 5px;
  right: 2px;
  padding: 0 0.1rem;
  height: 0.32rem;
  border-radius: 18px;
  line-height: 0.32rem;
  text-align: center;
  background-color: #f1503f;
  color: #fff;
  font-size: 0.22rem;
}
/* menu-lists */
.small-menus .menu-lists {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 21.5%;
}
.small-menus .menu-lists .content {
  padding-bottom: 260px;
}
.small-menus .menu-lists .content h2 {
  position: relative;
  padding-left: 0.21rem;
  font-size: 0.26rem;
  height: 0.5rem;
  line-height: 25px;
  background-color: #fafafa;
  color: #696969;
  font-weight: 400;
}
.small-menus .menu-lists .content .eat-item {
  padding: 0.203rem 0.25rem 0.203rem;
  white-space: nowrap;
  overflow-x: scroll;
  height: 1.813rem;
}
.small-menus .menu-lists .content .eat-item >li {
  display: inline-block;
}
.small-menus .menu-lists .content .list-item li {
  position: relative;
  padding: 0.306rem 0.3rem 0.226rem 0.24rem;
  background-color: #fff;
}
.small-menus .menu-lists .content .list-item li:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 10px;
  border-bottom: 1px solid rgba(7, 17, 27, 0.1);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.small-menus .menu-lists .content .btn-dish-box {
  height: 24px;
}
.small-menus .menu-lists .content .btn-dish-box .btn-add,
.small-menus .menu-lists .content .btn-dish-box .btn-add-box {
  height: 24px;
  line-height: 24px;
}
